<h1>Registros de Acceso</h1>

<table>
  <thead>
    <tr>
      <th>Empleado</th>
      <th>Vehículo</th>
      <th>Hora de Entrada</th>
      <th>Hora de Salida</th>
    </tr>
  </thead>
  <tbody>
    <% @access_logs.each do |log| %>
      <tr>
        <td><%= log.employee %></td>
        <td><%= log.vehicle.license_plate %></td>
        <td><%= log.entry_time %></td>
        <td><%= log.exit_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Exportar a Excel', export_to_excel_access_logs_path, format: :xlsx %>
